html {
	font-family: sans-serif;
	font-size: 10pt;
	background-color:gray;
}


body {
	padding: 30px 50px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	border-radius: 20px;
	background-color: white;
}

header {
	padding-top:50px;
}

main {
	margin: 0 20px;

}

footer {
	clear:both;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 90%;
}

article {
	display:block;

}

 .article-header {
 	clear: both;
}
.article-content {
	margin-left: 30px;
}

.channel {
	max-width: 45%;
	float:left;
	margin-bottom: 60px;
}
.channel-content {
	margin-left: 20px;
}



.programme {

	box-shadow: 0px 0px 10px #000000;
	border-style: outset;
	border-radius: 10px;
	padding: 10px 10px 20px;
	margin: 10px;
	background-color:hsla(58, 40%, 80%, 1);
}

.programme legend .premiere {
	background-color: red;
	box-shadow: 0px 0px 10px red;
	border-radius: 30px;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
	padding:10px 10px;
	display:inline;
	float:left;
}

.programme legend .timespan {
	font-size:110%;
	padding: 3px 10px;
	margin-left:70%;
	margin-bottom: 15px;
	border: solid  1px black;
	border-radius:20px;
	background-color:hsla(58, 76%, 68%, 0.90);
	
}
.programme .programme-header {
	margin-top: -25px;

}

.programme .programme-content {
	margin-left: 5px;
}
.programme .title {
	font-weight: bold;
	display:inline;
}
.programme .previously-shown {
	color:gray;
	font-style: italic;
	font-size:90%;
	display:inline;
}
.programme .star-rating {
	display:inline;

}
.programme .sub-title {

	
}
.programme .category {
	display:inline;
	margin-right: 10px;
	color:gray;
	font-style: italic;
}

.programme .desc {
	margin: 5px 0;
}

.programme .creditlabel {
	color: gray;
	margin-right:20px;
}

.programme .creditee {
	display: inline;
	margin-right: 18px;
}

